#player1{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    top: 50px;
    left: 50px;
    border-radius: 5px;
    border: 6px rgb(206, 175, 0) solid;

}
#player2{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(206, 175, 0);
    top: 100px;
    left: 50px;
    border-radius: 5px;
    border: 6px black solid;
}
body{
    background-color: rgb(42, 33, 71);
}